:root {
    --secondary-bg: #ffffff51;
}

body {
    background-color: #F9F8F6;
    color: #1b1b1b;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    line-height: 1.4;
    background: url('../img/bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
}

header {
    margin-bottom: 20px;
}

h1 {
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .search-weather-form {
    display: flex;
    gap: 14px;
}

nav .search-weather-form input {
    padding: 12px 16px;
    border: none;
    border-radius: 12px;
    font-size: 1.2rem;
    box-shadow: 3px 3px 5px rgba(70, 70, 70, 0.64);
}

nav .search-weather-form button {
    padding: 12px 16px;
    font-size: 1.2rem;
    border-radius: 12px;
    background-color: #4681f4;
    border: none;
    color: white;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(70, 70, 70, 0.64);
}
nav .search-weather-form button:hover {
    filter: saturate(2);
}

nav .temp-toggle-container {
    display: flex;
    gap: 10px;
    border-radius: 30px;
    overflow: hidden;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);    
    box-shadow: 3px 3px 5px rgba(70, 70, 70, 0.64);
}
.temp-toggle-container button {
    border: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 14px;
    border-radius: 50%;
    cursor: pointer;
}
.temp-toggle-container button.active {
    background-color: rgb(0, 183, 255);
    color: rgb(255, 255, 255);
}
.temp-toggle-container button:hover {
    background-color: rgb(0, 183, 255);
    color: white;
}

.temp.celcius::after {
    content: ' °C';
}
.temp.fahrenheit::after {
    content: ' °F';
}

main {
    color: rgb(227, 227, 227);
}

.weather-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.weather-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.current-weather-container {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-top: 10px;
    background-color: var(--secondary-bg);
    backdrop-filter: blur(10px);
    padding: 10px 20px 20px 20px;
    border-radius: 10px;
}
.current-weather-overview > span {
    display: flex;
    gap: 20px
}

.current-weather-summary .current-weather-condition {
    font-weight: 700;
    font-size: 1.4rem;
}
.current-weather-summary .current-weather-feelslike {
    font-size: 1.1rem;
    font-weight: 500;
}

.current-weather-overview img {
    width: 120px;
}

.current-weather-details {
    display: flex;
    gap: 50px;
}
.current-weather-details > span {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.current-weather-details .weather-detail-title {
    font-weight: 600;
}

.daily-weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.daily-weather-tabs {
    display: flex;
    gap: 14px;
    overflow: hidden;
}

.daily-weather-tab {
    background-color: var(--secondary-bg);
    backdrop-filter: blur(10px);
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    min-width: 240px;
    gap: 8px;
    border-radius: 10px;
}
.daily-weather-tab:hover {
    cursor: pointer;
    filter: contrast(.9);
    box-shadow: 1px 1px 8px rgba(128, 128, 128, 0.40);
}
.daily-weather-tab img {
    width: 80px;
    height: 80px;
}

.daily-weather-date,
.daily-weather-conditions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.daily-weather-date {
    font-weight: 500;
    font-size: 1.1rem;
}
.daily-weather-temp {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hourly-weather-data-container {
    background-color: var(--secondary-bg);
    display: flex;
    gap: 5px;
    overflow: hidden;
    font-size: 0.8rem;
    border-radius: 10px;
    margin-top: 10px;
}
.hourly-weather-data-container > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    align-items: center;
    min-width: 70px;
    padding: 3px 6px;
}
.hourly-weather-data-container > div img {
    width: 40px;
    height: 40px;
}

.draggable {
    /* prevent text highlighting */
    touch-action: none;
    user-select: none;
    cursor: grab;
}

/* carousel */
.carousel-container {
/* width: 100%;
  padding-block: 16px 32px;
  
  overflow-x: auto; */
    margin: 0 26px;
    width: 100%;
    scroll-snap-type: x mandatory;
    flex-flow: row nowrap;
    scroll-behavior: smooth;
}

.carousel-arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    bottom: -30%;
    margin-block: auto;
    height: fit-content;
    width: 34px;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
    color: rgb(230, 230, 230);
}
.carousel-arrow:hover {
    opacity: 1;
}
.carousel-arrow-back {
    left: 0;
}
.carousel-arrow-next {
    right: 0;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 108px;
  height: 60px;
  color: #269af2;
  --c: radial-gradient(farthest-side,currentColor 96%,#0000);
  background: 
    var(--c) 100% 100% /30% 60%,
    var(--c) 70%  0    /50% 100%,
    var(--c) 0    100% /36% 68%,
    var(--c) 27%  18%  /26% 40%,
    linear-gradient(currentColor 0 0) bottom/67% 58%;
  background-repeat: no-repeat;
  position: relative;

  display: none;
  margin: 30vh auto;
}
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  opacity: 0.4;
  animation: l7 1s infinite;
}
@keyframes l7 {
  to {transform:scale(1.8);opacity:0}
}